.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body
{
    background-size: cover;
    background-position: center;
}

canvas
{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}


button
{
    position: center;
    color: palevioletred;
}
   
canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px red;
    margin-top: 150px;
}
